.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgb(200, 16, 43);
  color: white;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.footer ul {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  font-size: larger;
  line-height: 1.6;
  font-weight: bolder;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.footer ul li {
  font-size: medium;
  font-weight: lighter;
}

.authors {
  text-align: right;
  padding-top: 3rem;
  padding-right: 2rem;
}

.authors p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1;
  font-size: smaller;
}
