.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
}

.extramodal {
  position: fixed;
  padding: 20px;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 80%;
  transform: translate(-50%, -50%);
  z-index: 200;
  background-color: rgb(200, 16, 43);
  color: white;
  border-radius: 50px;
  box-shadow: inset 0 0 15px 14px rgba(0, 0, 0, 0.25);
  border-style: solid;
  border-color: white;
  border-width: 2px;
  display: flex;
  flex-direction: row;
}

.close {
  border-width: 2px;
  position: fixed;
  top: 2%;
  right: 8%;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  color: white;
  border-color: white;
  background-color: rgb(200, 16, 43);
}

.close:hover {
  border-color: rgb(200, 16, 43);
  color: rgb(200, 16, 43);
  background-color: white;
}

.foodcontainer {
  box-shadow: 6px 2px 6px 6px rgba(0, 0, 0, 0.45);
  border-radius: 5vmin 10px 10px 5vmin;
  height: 100%;
  width: 70%;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  overflow-y: auto;
  overflow-x: hidden;
}

.foodcontainer img {
  width: 100%;
  height: 30vmin;
  object-fit: cover;
  border-radius: 5vmin 10px 0 0;
  z-index: 2;
}

.foodcontainer .imageoverlay {
  position: relative;
  top: -30vmin;
  width: 100%;
  height: 30vmin;
  border-radius: 5vmin 10px 0 0;
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(200, 16, 43, 0.35));
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: white;
}

.fooddesc {
  position: relative;
  top: -30vmin;
  height: 5%;
  margin: 1rem;
}

.fooddesc h2 {
  width: 100%;
  border-width: 0 0 2px 0;
  border-color: white;
  border-style: solid;
  padding-bottom: 0.25rem;
}

.fooddesc p {
  padding-top: 0.25rem;
  font-size: 1.2vmax;
}

.fooddesc h3 {
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.fooddesc h1 {
  margin-top: 0.5rem;
  border-radius: 5vmin;
  padding: 0.5rem;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  font-size: 2vmax;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom:1rem;
}

.control button {
  font-size: larger;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 50%;
  color: white;
  border-color: white;
  background-color: rgb(200, 16, 43);
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
.control button:hover {
  border-color: rgb(200, 16, 43);
  color: rgb(200, 16, 43);
  background-color: white;
}

.confirm {
  position: fixed;
  top: 84.3%;
  left: 58%;
  height: fit-content;
  padding: 1rem;
  border-radius: 5vmin;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  font-size: 1.7vmax;
}

.ingredient-list {
  width: 80%;
  height: 80%;
  margin-left: 5%;
  margin-top: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5vmin 10px 10px 5vmin;
  box-shadow: inset 0 0 12px 6px rgba(0,0,0,0.45);
  padding-left: 2rem;
}

.ingredient-list h1{
  text-align:center;
}

.ingredient {
  display: inline-block;
  padding: 3px;
  width: 30%;
  word-wrap: break-word;
  margin: 5px;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 6px 4px 6px rgba(0,0,0,0.25);
  background-color: rgb(200, 16, 43);
  font-size: 1.4vmax;
}

.ingredient:hover{
  transform: scale(1.10);
  transition: 0.4s;
}

.ingredient p {
  margin-bottom: 5px;
}

.ingredient button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
}

.pizzasize{
  position: fixed;
  top: 87%;
  left: 50%;
  height: fit-content;
  padding: 1rem;
  border-radius: 0 0 5vmin 5vmin;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: white;
  font-size: 1.7vmax;
}

.pizzasize:focus{
  outline: none;
}
.ingredient-list::-webkit-scrollbar {
  width: 18px;
}

.ingredient-list::-webkit-scrollbar-track {
  background-color: rgb(238, 170, 170);
  box-shadow: inset 0 0 6px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0 10px 10px 0;
}

.ingredient-list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0 10px 10px 0;
  box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.5);
}

.ingredient-list::-webkit-scrollbar-thumb:active {
  background-color: rgb(200, 16, 43);
  border-radius: 0 10px 10px 0;
  box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.5);
}

.foodcontainer::-webkit-scrollbar {
  width: 18px;
}

.foodcontainer::-webkit-scrollbar-track {
  background-color: rgb(238, 170, 170);
  box-shadow: inset 0 0 6px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0 10px 10px 0;
}

.foodcontainer::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0 10px 10px 0;
  box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.5);
}

.foodcontainer::-webkit-scrollbar-thumb:active {
  background-color: rgb(200, 16, 43);
  border-radius: 0 10px 10px 0;
  box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.5);
}


@media only screen and (max-width: 800px){
  .extramodal{
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5vmin 10px 10px 5vmin;
  }
  .extramodal::-webkit-scrollbar {
    width: 18px;
  }
  
  .extramodal::-webkit-scrollbar-track {
    background-color: rgb(238, 170, 170);
    box-shadow: inset 0 0 6px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0 10px 10px 0;
  }
  
  .extramodal::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 0 10px 10px 0;
    box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.5);
  }
  
  .extramodal::-webkit-scrollbar-thumb:active {
    background-color: rgb(200, 16, 43);
    border-radius: 0 10px 10px 0;
    box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.5);
  }
  .foodcontainer {
    box-shadow: 6px 2px 6px 6px rgba(0, 0, 0, 0.45);
    border-radius: 5vmin;
    width: 100%;
    height: 75%;
    border-color: white;
    border-style: solid;
    border-width: 2px;
  }
  .foodcontainer p{
    font-size: 1.4vmax;
  }
  .fooddesc h3{
    margin-top: 0;
    padding-top: 0.5rem;
    font-size: 1.5vmax;
  }
  .controls{
    justify-content: right;
  }
}