@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #080302;
  --red: #b52032;
  --brown: #a66c48;
  --light-gray: #ebedef;
  --dark-gray: #c4c7cf;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  padding: 4px;
  border: 1px solid darkgray;
  border-radius: 10px;
}

button:hover,
a:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
}
